*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Database schemas
app/schemas/

# Service account key
server/private-service-account-key.json

# Virtual environment files
server/bin/
server/include/
server/lib/
server/lib64
server/pyvenv.cfg
server/.idea/
